.hidden {
    display: none;
}
#clock {
    position:absolute;
    font-size: 700%;
    color: white;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    background-size: cover;
}
#greeting {
    position: fixed;
    top:50%;
    left: 50%;
    color:white;
    font-size: 300%;
    transform: translate(-50%, -50%);
}
#weather {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
}
#quote {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    color: white;
    font-size: large;
    display: inline;
}
